@model UnivApp.DTO.InstructorDto
<h2>ModalBox</h2>

<br />
<br />
@*<br />
    <br />*@

<button type="button" style="color: white; background-color:yellowgreen" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" id="modalId">
        Launch demo modal
    </button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Set New Classes for Given Instructor</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span style="font-weight: bold; text-align: center"></span>

            </div>

            <div class="form-horizontal" id="formHorizontal" hiddenNumber="0">
                <div class="form-group">
                    <label class="control-label col-md-3">
                        Select
                    </label>
                    <div class="col-md-6">
                        @Html.DropDownListFor(m => m.Instructors, new SelectList(Model.Instructors, "ID", "FullName"), "Choose Instructor", new { @class = "form-control", id = "dropDownListForInstructor" })
                    </div>
                    <div id="ballGreenForSelectInstructor" class="col-md-1"></div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3">
                    </label>
                    <div class="col-md-6">
                        <button id="buttonToggleNameSurnameForm" type="submit" value="Create New Instructor" class="btn btn-default">Create New Instructor</button>
                    </div>
                </div>

                <div id="divForNewForm"></div>

                <div class="form-group">
                    <label class="control-label col-md-3">

                    </label>
                    @*<div class="col-md-6">
                            <input id="newId" type="submit" value="newVal" class="btn btn-default">
                        </div>*@
                    <div class="col-md-6">
                        <button id="buttonCreateInstructorWithForm" type="submit" value="buttonCreateInstructorWithForm" class="btn btn-default" style="opacity: 0"> Create </button>
                    </div>
                    <div id="ballgreenForCreateInstructorWithForm" class="col-md-1"></div>

                </div>

                <div class="form-group">
                    <div class="col-md-offset-1 col-md-11">
                        <table id="tableRadioButtons" style="transition: opacity 0.3s linear; opacity: 0">
                            <tr>
                                @{
                                    int cnt = 0;
                                    List<UnivApp.ViewModels.AssignedCourseData>
                                        courses = ViewBag.Courses;
                                    foreach (var course in courses)
                                    {
                                        if (cnt++ % 2 == 0)
                                        {
                                        @:</tr><tr>
                                        }
                                        @:<td>
                                            @*<input type="checkbox" name="selectedCoursesReturnedToAction" id="@course.CourseID" value="@course.CourseID" @(Html.Raw(course.Assigned ? "checked=\"checked\"" : "")) />*@
                                            <input type="checkbox" name="selectedCoursesReturnedToAction" id="@course.CourseID" value="@course.CourseID" ) />
                                            <label for="@course.CourseID"> @course.Title</label>

                                            @*<input type="checkbox" name="selectedCoursesReturnedToAction" id="123" value="123" />
                                                <label for="123"> 123 </label>*@

                                        @:</td>
                                    }
                                @:</tr>
                                }
                            </table>

                        </div>
                    </div>

                    @*<div class="form-group">
                            <label class="control-label col-md-3">
                                1
                            </label>
                            <label class="control-label col-md-3">
                                2
                            </label>
                            <input type="checkbox" />Males
                            <input type="checkbox" />Males
                            <input type="checkbox" name="selectedCoursesReturnedToAction" />f
                        </div>*@

                    <div class="modal-footer">
                        <div id="ballGreenForSaveRadioButtonCoursesId" class="col-md-1"></div>
                        @*<div id="" class="ballGreen" class="col-md-1"></div>*@
                        <button type="button" class="btn btn btn-primary" data-dismiss="modal">OK</button>
                        <button id="buttonsaveRadioButtonCourses" type="button" class="btn btn btn-success" data-dismiss="">Save</button>
                        <button type="button" class="btn btn-orange" data-dismiss="modal">Cancel</button>
                    </div>


                </div> @*form-horizontal*@
            </div> @*modal-content div*@
        </div> @*modal dialog div*@
    </div>

