@model UnivApp.ViewModels.InstructorIndexData

<h2>Instructors</h2>
@Html.Partial("/Views/PartialViews/SearchBoxAndCreateLink.cshtml")
<table class="table">
    <tr>
        <th><a href="/">First Name</a></th>
        <th><a href="/">Last Name</a></th>
        <th><a href="/">Office</a></th>
        <th><a href="/">Courses</a></th>
        <th></th>
    </tr>

    @foreach (var item in Model.Instructors)
    {
        string selectedRow = "";
        if (item.ID == ViewBag.InstructorID)
        {
            selectedRow = "success";
        }
        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.FirstMidName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.HireDate)
                </td>*@
            <td>
                @if (item.OfficeAssignment != null)
                {
                    @item.OfficeAssignment.Location
                }

                @if (item.OfficeAssignment == null)
                {
                    @:Belirtilmedi
                }

            </td>
            <td>
                @{
                    {
                        int number = 0;
                        int numberCourseCount = item.Courses.Count;

                        foreach (var course in item.Courses)
                        {
                            number++;
                            @course.CourseCodeAndTitle

                            if (number == 2)
                            {
                                if (numberCourseCount == number)
                                {
                                    break;
                                }
                                @:
                                @Html.ActionLink("(...)", "Details", new { id = item.ID }, new { @class = "button" })
                                break;

                            }
                            //break;
                            if (item.Courses.Count == 1)
                            {
                                break;
                            }@:,
                            if (number == item.Courses.Count)
                            {
                                @:
                                @Html.ActionLink("(...)", "Details", new { id = item.ID }, new { @class = "button" })
                            }
                        }
                    }
                }
            </td>
            <td>
                <span class="btn-group">
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "button" })
                </span> <span class="btn-group">
                    @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "button" })
                </span> <span class="btn-group">
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "button" })
                </span>
            </td>
        </tr>
    }
</table>

@if (Model.Courses != null)
{
    <h3>Courses Taught by Selected Instructor</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>Number</th>
            <th>Title</th>
            <th>Department</th>
        </tr>

        @foreach (var item in Model.Courses)
        {
            string selectedRow = "";
            if (item.CourseID == ViewBag.CourseID)
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @item.CourseID
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Department.Name
                </td>
                <td>
                    @Html.ActionLink("Select", "Index", new { courseID =
                        item.CourseID })
                </td>
            </tr>
        }
    </table>
}


@if (Model.Enrollments != null)
{
    <h3>
        Students Enrolled in Selected Course
    </h3>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Grade</th>
        </tr>
        @foreach (var item in Model.Enrollments)
        {
            <tr>
                <td>
                    @item.Student.FullName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
            </tr>
        }
    </table>
}