@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>UnivApp</h1>
    <p class="lead">With Univapp, Instructors can create courses and students can enroll into the created
        courses. Instructors can also edit, delete, update courses with ease.</p>

    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Manage Courses</h2>
        <p>
            With UnivApp, Instructors can create courses as many as they want and students can be enrolled to the created
            courses. Instructors can also edit, delete, update courses with ease.
        </p>
        @Html.ActionLink("Go to Students Page", "Index", "Student", null, new { @class = "btn btn-default" })
    </div>
    <div class="col-md-4">
        <h2>Manage Departments</h2>
        <p>With Univapp, Instructors can create courses as many as they want and student can be enrolled to the created courses. Instructors can also edit, delete, update courses with ease.
        </p>
        @Html.ActionLink("Go to Departments Page", "Index", "Department", null, new { @class = "btn btn-default"})

    </div>

    <div class="col-md-4">
        <h2>Manage Enrollments</h2>
        <p>You can manage course enrollments easily.</p>

        @Html.ActionLink("Go to Enrollments Page", "Index", "Enrollment", null, new { @class = "btn btn-default" })
    </div>
</div>

<div class="i-text-align-right i-font-weight-bold
                     i-display-table-cell i-vertical-align"
     style="display: table-cell; vertical-align: middle; color: white;">
    @HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()
    /
    @ViewContext.RouteData.GetRequiredString("action")
    /
    @Url.RequestContext.RouteData.Values["id"]
    &nbsp;
    @*@Request.Url.OriginalString*@
</div>






