@model UnivApp.Models.Student

@{
    ViewBag.Title = "Create";
}



@Html.Partial("/Views/PartialViews/HeaderPartialView.cshtml")

@using (Html.BeginForm())

{
    @Html.AntiForgeryToken()

    <form id="myFormForSaveAjax">

        <div class="form-horizontal">
            <hr />
            <div class="form-group">
                @Html.LabelFor(model => model.FirstMidName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FirstMidName, new { htmlAttributes = new { @class = "form-control", @Value=""} })
                    @Html.ValidationMessageFor(model => model.FirstMidName, "", new { @class = "text-danger" })
                </div>
            </div>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @Value="" } }) 
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
            </div>

         

            <div class="form-group">
                @Html.LabelFor(model => model.EnrollmentDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EnrollmentDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EnrollmentDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <span class="control-label col-md-2"></span>
                <a class="col-md-10" style="color:green" onclick="setTodayDate()">
                    Set as today
                </a>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create with HttpPost" class="btn btn-default" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <a class="btn btn-default" onclick="createJsonFunc()">Create with JSON</a>
                </div>
            </div>
        </div>
    </form>

}

<div class="row" style="visibility:hidden; color:green" id="divForJsonInfo">
    Data saved via JSON shown below:
</div>
<div class="row">
    <table class="table" id="tableForJson" style="visibility: hidden">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstMidName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
        </tr>

    </table>
</div>

<p class="FirstMidName1" value="val1"></p>
<p class="FirstMidName2" value="val2"></p>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
