@model PagedList.IPagedList<UnivApp.Models.Student>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/Site2.css" rel="stylesheet" />

<h2>Students</h2>

@Html.Partial("/Views/PartialViews/SearchBoxAndCreateLink.cshtml")
<table class="table" id="studentTable">
    <tr>
        <th>
            @Html.ActionLink("First Name", "Index", new { sortOrder = ViewBag.FirstNameSortParm })
        </th>
        <th>
            @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.LastNameSortParm })
        </th>
        <th>
            @Html.ActionLink("Enrollment Date", "Index", new { sortOrder = ViewBag.DateSortParm })
        </th>
        <th>
            ID
        </th>
        <th>
            <a style="cursor:pointer" id="deleteWholeButtonId">Delete Multiple</a>
            
            <span id="saveListButton" style="font-weight: normal;" class="btn-group"> <a class="button">Delete Selected Students</a> </span>
        </th>
    </tr>



    @foreach (var item in Model)
    {

        using (Html.BeginForm("Delete", "Student", new { id = item.ID }, FormMethod.Post))
        {

            <tr name="@item.ID" style="transition: visibility 0s linear 0s, opacity 5000ms;  transition: all 0.4s;">
                <td>
                    @Html.DisplayFor(modelItem => item.FirstMidName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnrollmentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    <span class="btn-group">
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "button" })
                    </span> <span class="btn-group">
                        @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "button" })
                    </span>


                    <span class="btn-group">
                        <input type="submit" class="button" value="Delete"
                               onclick="return confirm('Are you sure want to delete record with ID = @item.ID')">
                    </span>

                    <span class="btn-group checkBoxForStudents">
                        &nbsp;&nbsp;<input type="checkbox" name="selectedStudentsReturnedToAction" id="@item.ID" value="@item.ID">
                        <label for="@item.ID" style="color:white;">---------------</label>
                    </span>
                </td>
            </tr>
        }
    }
</table>


<style>
    .checkBoxForStudents {
        /*visibility: hidden;*/
        color: red;
        opacity: 0;
        transition: opacity 0.3s linear;
    }

    #saveListButton {
        opacity: 0;
        transition: opacity 0.3s linear;
    }

    #loading_mask{
        opacity: 1;
        transition: opacity 0.3s linear;
    }
</style>


Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

