@model PagedList.IPagedList<UnivApp.Models.Course>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/Site2.css" rel="stylesheet" />

<h2>Courses</h2>
@Html.Partial("/Views/PartialViews/SearchBoxAndCreateLink.cshtml")
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.titleSortBag })
        </th>
        <th>
            @Html.ActionLink("Course Code", "Index", new { sortOrder = ViewBag.sdsdsdm })
        </th>
        <th>
            @Html.ActionLink("Credits", "Index", new { sortOrder = ViewBag.creditSortParm })
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Credits)
        </td>
        <td>
            <span class="btn-group">
                @Html.ActionLink("Edit", "Edit", new { id = item.CourseID }, new { @class = "button" })
            </span> <span class="btn-group">
                @Html.ActionLink("Details", "Details", new { id = item.CourseID }, new { @class = "button" })
            </span> <span class="btn-group">
                @Html.ActionLink("Delete", "Delete", new { id = item.CourseID }, new { @class = "button" })
            </span>
        </td>
    </tr>
    }
</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })) 